*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
}
.header{
  background-color: #808080;
  color: #ffff;
  padding: 3%;
   width:  40rem;
  position: relative;
}
.header span{
  position: absolute;
  top: 10px;
  right: 10px
}
.textAreaStyle{
  width:  40rem;
  overflow-wrap: break-word;
}
.buttons{
display: flex;
margin-top: 1rem;
width:  40rem;
justify-content: center;
}
.buttonstyle{
  margin: 0.5rem;
  padding: 5px 1rem;
  color: #ffff;
  font-weight: bold;
  border: 1px solid gray;
}
.boldVal{
  font-weight: bold;
}
.italicVal{
  font-style: italic;
}
.buttonstyle1{
  background-color: #b4ddf7;
}
.buttonstyle4{
  background-color: red;
}
.buttonstyle3{
  background-color: #082c6d;
}